<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.5715.1200" targetFramework="net45" />
  <package id="SPMeta2.Core" version="1.2.90" targetFramework="net45" />
  <package id="SPMeta2.CSOM.Foundation-v16" version="1.2.90" targetFramework="net45" />
</packages>