<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="targetSiteUrl" value="https://ignia1-my.sharepoint.com/personal/marat_bakirov_ignia_com_au/nintex/" />
    <add key="sharePointUserName" value="" />
    <add key="sharePointPassword" value="" />
    <add key="nintexApiKey" value="" />
    <add key="nintexServiceUrl" value="" />
  </appSettings>
</configuration>