<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- TODO: enable this while developing but remove while packaging-->
  <!--<package id="Microsoft.SharePoint2013.CSOM" version="15.0.4711.1000" targetFramework="net45" />-->
  <package id="SPMeta2.Core" version="1.2.50" targetFramework="net45" />
  <package id="SPMeta2.CSOM.Foundation" version="1.2.50" targetFramework="net45" />
</packages>