<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="targetSiteUrl" value="http://sp131:82" />
    <add key="sharePointUserName" value="domain\sp_admin" />
    <add key="sharePointPassword" value="" />
    <add key="useADProxy" value="false" />
    <!--<add key="targetSiteUrl" value="" />-->
    <add key="useADProxy" value="false" />
  </appSettings>
  <runtime>
  </runtime>
</configuration>
